.dh-campaigns-title {
  font-size: 18px;
  line-height: 22px;
}

.dh-list-item {
  align-items: center;

  & > svg {
    margin-right: 22px;
  }

  &:hover {
    .dh-campaign-name {
      color: $elementActiveColor;
    }
  }
}

.dh-campaign-toggle {
  margin-right: 20px;
  // .el-switch {
  //   pointer-events: none;
  // }
}

.dh-campaign-active-indicator {
 width: 7px;
 height: 7px;
 border-radius: 7px;
 background-color: $elementsColor;
 display: inline-block;
 vertical-align: middle;

 &.dh-campaign-active {
   background-color: $successColor;
 }
}

.dh-campaign-info {
  flex-grow: 1;
}

.dh-info {
  margin-top: 10px;

  strong {
    color: $mainTextColor;
    font-weight: normal;
    display: block;
    margin-bottom: 10px;
  }
}

.dh-campaign-name {
  svg {
    width: 14px;
  }
}

.dh-campaign-date {
  display: flex;
  align-items: center;
  margin-top: 4px;

  svg {
    margin-right: 6px;
  }
}

.dh-campaign-actions {
  cursor: pointer;
  margin-top: -5px;
}