@import './common/ig-account';
@import './common/options';
@import './common/list';
@import './common/campaigns';
@import './common/step-popup';
@import './common/tabs';
@import './common/controls';
@import './common/wizzard';

$scroll-color: $elementsColor;

@keyframes rotation {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

@keyframes scale-element {
  from {transform: scale(1)}
  50% {transform: scale(1.5)}
  to {transform: scale(1)}
}

.dh-disabled {
  opacity: .3;
  pointer-events: none;
}

.dh-dialog-error {
  height: 80px;
  width: 100%;
  background-color: #FE4D97;
  border-radius: 4px;
  margin-top: 20px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
}

.dh-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;

  .dh-view-content {
    flex-grow: 1;
    padding: 23px 28px;
  }
}

.dh-new-item-button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #778CA2;
  cursor: pointer;

  svg {
    margin-right: 6px;
    width: 19px;
    height: 19px;
  }

  &:hover {
    color: $elementActiveColor;
  }
}

.dh-campaigns-controls {
  display: flex;
  justify-content: space-between;
  color: $elementsColor;
}

.dh-campaign-name {
  font-size: 18px;
  line-height: 22px;
  color: $mainTextColor;
}

.dh-spacer {
  flex-grow: 1;
}

.dh-info {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: $textColor;
  font-size: 18px;
  line-height: 22px;

  svg {
    margin-bottom: 36px;
  }
}

.dh-settings-form {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dh-settings-title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.dh-settings-form-row {
  display: flex;
  margin-bottom: 22px;

  & > * {
    flex-grow: 1
  }
}

.dh-label {
  &:not(:last-child) {
    margin-right: 26px;
  }

  span {
    display: block;
    margin-bottom: 13px;
  }

  .dh-input {
    width: 100%;
  }
}

div.el-popper.el-popover[x-placement^=bottom] {
  margin-top: 17px;
  padding: 0;
  box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
  border-radius: 4px;

  div.popper__arrow {
    border-width: 15px;
    top: -30px;

    &:after {
      border-bottom-color: #fff;
      top: -14px;
      border-width: 15px;
      margin-left: -15px;
    }
  }
}

div.el-dialog__wrapper {
  background-color: rgba($mainTextColor, .6);

  div.el-dialog {
    box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
    border-radius: 4px;
  }

  .el-dialog__body {
    background-color: $mainBGColor;
    padding: 28px 31px 22px 24px;
    word-break: break-word;
  }

  .el-dialog__header {
    padding: 20px 24px;
  }

  .el-dialog__footer {
    padding: 25px 26px 24px;
    display: flex;
    justify-content: space-between;
  }

  .el-dialog__headerbtn .el-dialog__close {
    background-image: url(~@/assets/close.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;

    &:before {
      content: none
    }
  }
}

div.el-switch.is-checked .el-switch__core {
  border-color: $elementActiveColor;
  background-color: $elementActiveColor;
}

span.el-switch__label {
  span {
    font-size: 10px;
    color: #606266;
  }

  &.is-active {
    span {
      color: #9E4CF9;
    }
  }
}


.el-slider__bar {
  height: 6px;
  background-color: #9E4CF9;
}

div.el-slider__button {
  border-color: #9E4CF9;
}

.dh-notification {
  color: $successColor;
}

.dh-notification-error {
  color: $failColor;
}

strong {
  font-weight: 500;
}

input.dh-input {
  background-color: $sectionBG;
  border: 1px solid $borderColor;
  border-radius: 4px;
  padding: 14px 19px 16px 17px;
  line-height: 17px;
  font-weight: 500;
  color: $inputTextColor;
  outline: none;

  &.dh-input-error {
    border: 1px solid $failColor;
  }

  &:disabled {
    background-color: $disabledBG;
    color: $textColor;
  }

  &::placeholder {
    color: $textColor;
  }
}

button.dh-button {
  color: $sectionBG;
  background-color: $elementActiveColor;
  height: 44px;
  font-weight: bold;
  min-width: 206px;
  padding: 15px 15px 14px;
  text-transform: uppercase;
  border-radius: 4px;
  outline: none;
  border: 1px solid $elementActiveColor;

  &:hover {
    background-color: #9248e5;
  }

  &.dh-reset-button {
    border: 1px solid $secondBorderColor;
    background-color: $secondBorderColor;
    color: $elementsColor;

    &:hover {
      color: $elementActiveColor;
    }

    &.dh-loading:before {
      border-color: $elementActiveColor;
      border-bottom-color: transparent;
    }
  }

  &.dh-danger-button {
    border-color: $failColor;
    background-color: $failColor;

    &:hover {
      background-color: #e8498c;
    }
  }

  &:disabled {
    opacity: .3;
  }

  &.dh-loading {
    color: transparent;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      width: 15px;
      height: 15px;
      border-radius: 15px;
      border: 3px solid #FFF;
      border-bottom-color: transparent;
      animation: rotation  .8s infinite linear;
    }
  }

  &.dh-small {
    min-width: auto;
    height: auto;
    padding: 5px 15px;

    &.dh-loading {
      &:before {
        width: 5px;
        height: 5px;
        border-radius: 5px;
        top: calc(50% - 6px);
        left: calc(50% - 6px);
      }
    }
  }
}

div.el-pagination {
  &.is-background {
    .btn-next, .btn-prev, .el-pager li:not(.active) {
      background-color: transparent;
    }

    .el-pager li.active {
      background-color: #9E4CF9 !important;
    }
  }
}

.dh-search-input {
  display: flex;
  align-items: center;
  color: $textColor;

  .dh-input {
    border: none;
    padding: 5px 5px 5px 13px;
    background-color: transparent;
  }
}

.dh-select {
  display: flex;
  align-items: center;

  .dh-select-title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 12px;
    font-size: 12px;
    color: $textColor;
  }

  .el-select {
    .el-input__inner {
      border: none;
      background-color: transparent;
      font: 500 12px Rubik;
      color: $mainTextColor;
      text-transform: uppercase;
    }
  }
}

.dh-select-popper {
  .el-select-dropdown__list {
    padding: 0
  }

  .el-select-dropdown__item {
    font-size: 12px;
    line-height: 34px;
    font-weight: 500;
    text-transform: uppercase;

    &.selected {
      color: $elementActiveColor;
    }
  }
}

.dh-global-error {
  background-color: $failColor;

  .el-notification__content {
    color: #fff !important;
    font-weight: bold;
  }

  .el-icon-error {
    color: #fff;
  }
}

label.el-radio {
  .el-radio__label {
    color: $textColor;
  }

  .el-radio__input {

    &.is-checked {
      .el-radio__inner {
        border-color: $elementActiveColor;
        background: $elementActiveColor;
      }

      &+.el-radio__label {
        color: $mainTextColor;
      }
    }
  }

  .el-radio__inner {
    width: 20px;
    height: 20px;

    &::after {
      width: 8px;
      height: 8px;
    }

    &:hover {
      border-color: $elementActiveColor;
    }
  }
}

label.el-checkbox {
  .el-checkbox__inner {
    background-color: $borderColor;
    border-color: $borderColor;

    &:hover {
      border-color: $elementActiveColor;
    }
  }

  .el-checkbox__input {

    &.is-indeterminate,
    &.is-checked {
      .el-checkbox__inner {
        background-color: $elementActiveColor;
        border-color: $elementActiveColor;
      }

      &+.el-checkbox__label {
        color: $mainTextColor;
      }
    }
    &.is-focus .el-checkbox__inner {
      border-color: $elementActiveColor;
    }
  }
}

.dh-select-account-founded {
  height: 80px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  color: #98A9BC;
  cursor:pointer;
  box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);

  strong {
    color: #303133;
  }

  &.dh-select-account-claiming {
    pointer-events: none;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: block;
      background-color: rgba(#fff, .8);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 4px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - 23px);
      left: calc(50% - 23px);
      width: 40px;
      height: 40px;
      border-radius: 40px;
      border: 5px solid $elementActiveColor;
      border-bottom-color: transparent;
      animation: rotation  .8s infinite linear;
    }
  }
}

.dh-select-account-info {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.dh-select-account-userpic {
  width: 40px;
  height: 40px;
  background-color: rgba($borderColor, .5);
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}

.dh-select-account-text {
  width: 100%;
  text-align: center;
  margin-top: 4px;
}

div.el-date-editor {
  &.el-input--prefix .el-input__inner {
    font-weight: 700;
  }
  .el-input__prefix {
    left: auto;
    right: 5px;
    color: $elementActiveColor;
  }

  &.el-range-editor {
    .el-range__icon,
    .el-range__close-icon {
      color: $elementActiveColor;
    }

    .el-range-separator {
      width: 6%;
    }

    &.is-active,
    &.is-active:hover {
      border-color: $elementActiveColor;
    }
  }
}

div.el-picker-panel {
  &.el-date-range-picker tr.el-date-table__row {
    td.available {

      &.in-range:not(.start-date):not(.end-date) span {
        color: $elementActiveColor;
        align-self: center;
      }

      &.in-range div {
        display: flex;

        &:before {
          content: "";
          background: $elementActiveColor;
          width: 100%;
          opacity: 0.2;
          height: 30px;
          text-align: center;
          display: flex;
          align-self: center;
          box-sizing: border-box;
        }
      }

      &.start-date,
      &.end-date {
        span {
          width: 30px;
          height: 30px;
          border-radius: unset;
          background-color: $elementActiveColor;
          color: $mainBGColor;
          bottom: 4px;
          line-height: 30px;
        }
      }
    }
  }

  .el-date-picker__header {
    background-color: $mainBGColor;
    margin: 0;
    padding: 12px;
  }

  .el-date-table {
    td.today:not(.end-date) span {
      color: $elementActiveColor !important;
    }

    td.current:not(.disabled) span {
      color:#FFF !important;
      background-color: $elementActiveColor;
      border-radius: 0;
    }

    td.available{
      &:not(.current):hover span{
        color: $elementActiveColor;
      }

      span {
        color: $mainTextColor;
      }
    }

    th {
      color: $elementsColor;
      border: none;
    }
  }

  .el-button--text {
    color: $elementActiveColor;
  }

  .el-picker-panel__footer {
    .el-button:last-child{
      background-color: $elementActiveColor;
      border-color: $elementActiveColor;
      color: #FFF;
      font-weight: bold;
    }
  }

  .el-input.is-active .el-input__inner, .el-input__inner:focus {
    border-color: $elementActiveColor;
    outline: 0;
  }

  .el-time-panel {
    .el-time-panel__btn.confirm {
      color: $elementActiveColor;
    }
  }
}

.dh-account-userpic {
  position: relative;
  background-color: rgba($borderColor, .5);
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  border: 2px solid transparent;
  flex-shrink: 0;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #F8FAFB;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #E8ECEF;
}