@keyframes rotation {
    0% { transform:rotate(0deg); }
    100% { transform:rotate(360deg); }
  }

  @keyframes preloader-wave {
    0% {
        opacity: 1;
        transform: scale(0, 0);
    }
    100% {
        opacity: 0;
        transform: scale(1, 1);
    }
  }

  #app {
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-color: #F5F5F5;
    height: 100%;
    font-size: 12px;
    line-height: 16px;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  input {
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    outline: none;

    &::placeholder {
      color: #A9A9A9;
      font-size: 15px;
    }
  }