$screen-md-max: 1200px;
$screen-sm-max: 992px;
$screen-xs-max: 768px;
$screen-xxs-max: 568px;

@mixin text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin screen-md {
  @media (max-width: $screen-md-max) {
    @content;
  }
};

@mixin screen-sm {
  @media (max-width: $screen-sm-max) {
    @content;
  }
};

@mixin screen-xs {
  @media (max-width: $screen-xs-max) {
    @content;
  }
};