$primary: #9E4CF9;
$primaryPressed: #8233DB;
$primaryHover: #9349E6;
$background1: #F2F4F6;
$background2: #F8FAFB;
$outline: #E8ECEF;
$white: #fff;
$secondaryDark1: #778CA2;
$secondaryDark2: #98A9BC;
$secondary3: #FF4550;
$secondary3Hover: #FC6770;
$secondary3Pressed: #F0232F;
$primaryDark: #252631;

// legacy
$mainBGColor: #F8FAFB;
$mainTextColor: #252631;
$inputTextColor: #1B1E24;
$textColor: #98A9BC;
$sectionBG: #fff;
$elementsColor: #778CA2;
$elementActiveColor: #9E4CF9;
$borderColor: #E8ECEF;
$successColor: #6DD230;
$failColor: #FF4550;
$disabledBG: #F8FAFB;
$secondBorderColor: #F2F4F6
