
###> docker-compose ###
/volumes/
###< docker-compose ###
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/assets/jsV5/node_modules/
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
public/build.old
public/build.tmp
###< symfony/webpack-encore-pack ###
