
###> docker-compose ###
/volumes/
###< docker-compose ###
###> symfony/framework-bundle ###
/.env
/.vscode
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/assets/js/node_modules/
/assets/js/package-lock.json
/node_modules/
/public/build/
/assets/js/npm-debug.log
/assets/js/yarn-error.log
npm-debug.log
yarn-error.log
public/build.old
public/build.tmp
###< symfony/webpack-encore-pack ###
