.dh-disabled {
  opacity: .3;
  pointer-events: none;
}

.dh-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;

  .dh-view-content {
    flex-grow: 1;
    padding: 23px 28px;
  }
}

strong {
  font-weight: 500;
}

input {
  background-color: $sectionBG;
  border: 1px solid $borderColor;
  border-radius: 4px;
  padding: 14px 19px 16px 17px;
  line-height: 17px;
  font-weight: 500;
  color: $inputTextColor;

  &:disabled {
    background-color: $disabledBG;
    color: $textColor;
  }

  &::placeholder {
    color: $textColor;
  }
}

button {
  color: $sectionBG;
  background-color: $elementActiveColor;
  height: 44px;
  font-weight: bold;
  min-width: 206px;
  padding: 15px 15px 14px;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid $elementActiveColor;
}