@keyframes rotation {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

@keyframes scale-element {
  from {transform: scale(1)}
  50% {transform: scale(1.5)}
  to {transform: scale(1)}
}

.dh-disabled {
  opacity: .3;
  pointer-events: none;
}

.dh-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;

  .dh-view-content {
    flex-grow: 1;
    padding: 23px 28px;
  }
}

.dh-new-item-button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  cursor: pointer;

  svg {
    margin-right: 6px;
    width: 19px;
    height: 19px;
  }

  &:hover {
    color: $elementActiveColor;
  }
}

.dh-list {
  margin-top: 22px;
}

.dh-campaigns-controls {
  display: flex;
  justify-content: space-between;
  color: $elementsColor;
}

.dh-list-item {
  height: 80px;
  width: 100%;
  background-color: $sectionBG;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: $textColor;
  color: inherit;
  text-decoration: none;
  box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.dh-campaign-name {
  font-size: 18px;
  line-height: 22px;
  color: $mainTextColor;
}

.dh-spacer {
  flex-grow: 1;
}

.dh-info {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: $textColor;
  font-size: 18px;
  line-height: 22px;

  svg {
    margin-bottom: 36px;
  }
}

.dh-settings-form {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dh-settings-title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.dh-settings-form-row {
  display: flex;
  margin-bottom: 22px;

  & > * {
    flex-grow: 1
  }
}

.dh-label {
  &:not(:last-child) {
    margin-right: 26px;
  }

  span {
    display: block;
    margin-bottom: 13px;
  }

  .dh-input {
    width: 100%;
  }
}

div.el-popper.el-popover[x-placement^=bottom] {
  margin-top: 17px;
  padding: 0;
  box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
  border-radius: 4px;

  div.popper__arrow {
    border-width: 15px;
    top: -30px;

    &:after {
      border-bottom-color: #fff;
      top: -14px;
      border-width: 15px;
      margin-left: -15px;
    }
  }
}

div.el-dialog__wrapper {
  background-color: rgba($mainTextColor, .6);

  div.el-dialog {
    box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
    border-radius: 4px;
  }

  .el-dialog__body {
    background-color: $mainBGColor;
    padding: 28px 31px 22px 24px;
    word-break: break-word;
  }

  .el-dialog__header {
    padding: 20px 24px;
  }

  .el-dialog__footer {
    padding: 25px 26px 24px;
    display: flex;
    justify-content: space-between;
  }

  .el-dialog__headerbtn .el-dialog__close {
    background-image: url(../assets/close.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;

    &:before {
      content: none
    }
  }
}

.dh-options {
  padding: 7px;
}

.dh-option {
  padding: 13px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  svg {
    width: 100%;
    max-width: 13px;
    flex-shrink: 0;
    color: $elementsColor;
    margin-right: 6px;
  }
}

div.el-switch.is-checked .el-switch__core {
  border-color: $elementActiveColor;
  background-color: $elementActiveColor;
}

.el-slider__bar {
  height: 6px;
  background-color: #9E4CF9;
}

div.el-slider__button {
  border-color: #9E4CF9;
}

.dh-notification {
  color: $successColor;
}

.dh-notification-error {
  color: $failColor;
}

strong {
  font-weight: 500;
}

input.dh-input {
  background-color: $sectionBG;
  border: 1px solid $borderColor;
  border-radius: 4px;
  padding: 14px 19px 16px 17px;
  line-height: 17px;
  font-weight: 500;
  color: $inputTextColor;
  outline: none;

  &:disabled {
    background-color: $disabledBG;
    color: $textColor;
  }

  &::placeholder {
    color: $textColor;
  }
}

button.dh-button {
  color: $sectionBG;
  background-color: $elementActiveColor;
  height: 44px;
  font-weight: bold;
  min-width: 206px;
  padding: 15px 15px 14px;
  text-transform: uppercase;
  border-radius: 4px;
  outline: none;
  border: 1px solid $elementActiveColor;

  &:hover {
    background-color: #9248e5;
  }

  &.dh-reset-button {
    border: 1px solid $secondBorderColor;
    background-color: $secondBorderColor;
    color: $elementsColor;

    &:hover {
      color: $elementActiveColor;
    }

    &.dh-loading:before {
      border-color: $elementActiveColor;
      border-bottom-color: transparent;
    }
  }

  &.dh-danger-button {
    border-color: $failColor;
    background-color: $failColor;

    &:hover {
      background-color: #e8498c;
    }
  }

  &:disabled {
    opacity: .3;
  }

  &.dh-loading {
    color: transparent;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      width: 15px;
      height: 15px;
      border-radius: 15px;
      border: 3px solid #FFF;
      border-bottom-color: transparent;
      animation: rotation  .8s infinite linear;
    }
  }

  &.dh-small {
    min-width: auto;
    height: auto;
    padding: 5px 15px;

    &.dh-loading {
      &:before {
        width: 5px;
        height: 5px;
        border-radius: 5px;
        top: calc(50% - 6px);
        left: calc(50% - 6px);
      }
    }
  }
}

div.el-pagination {
  &.is-background {
    .btn-next, .btn-prev, .el-pager li:not(.active) {
      background-color: transparent;
    }

    .el-pager li.active {
      background-color: #9E4CF9 !important;
    }
  }
}

.dh-search-input {
  display: flex;
  align-items: center;
  color: $textColor;

  .dh-input {
    border: none;
    padding: 5px 5px 5px 13px;
    background-color: transparent;
  }
}

.dh-select {
  display: flex;
  align-items: center;

  .dh-select-title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 12px;
    font-size: 12px;
    color: $textColor;
  }

  .el-select {
    .el-input__inner {
      border: none;
      background-color: transparent;
      font: 500 12px Rubik;
      color: $mainTextColor;
      text-transform: uppercase;
    }
  }
}

.dh-select-popper {
  .el-select-dropdown__list {
    padding: 0
  }

  .el-select-dropdown__item {
    font-size: 12px;
    line-height: 34px;
    font-weight: 500;
    text-transform: uppercase;

    &.selected {
      color: $elementActiveColor;
    }
  }
}

.dh-global-error {
  background-color: $failColor;

  .el-notification__content {
    color: #fff !important;
    font-weight: bold;
  }

  .el-icon-error {
    color: #fff;
  }
}

label.el-radio {
  .el-radio__label {
    color: $textColor;
  }

  .el-radio__input {

    &.is-checked {
      .el-radio__inner {
        border-color: $elementActiveColor;
        background: $elementActiveColor;
      }

      &+.el-radio__label {
        color: $mainTextColor;
      }
    }
  }

  .el-radio__inner {
    width: 20px;
    height: 20px;

    &::after {
      width: 8px;
      height: 8px;
    }

    &:hover {
      border-color: $elementActiveColor;
    }
  }
}

label.el-checkbox {
  .el-checkbox__inner {
    background-color: $borderColor;
    border-color: $borderColor;

    &:hover {
      border-color: $elementActiveColor;
    }
  }

  .el-checkbox__input {
    &.is-checked {
      .el-checkbox__inner {
        background-color: $elementActiveColor;
        border-color: $elementActiveColor;
      }

      &+.el-checkbox__label {
        color: $mainTextColor;
      }
    }
    &.is-focus .el-checkbox__inner {
      border-color: $elementActiveColor;
    }
  }
}
