.dh-disabled {
  opacity: .3;
  pointer-events: none;
}

.dh-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;

  .dh-view-content {
    flex-grow: 1;
    padding: 23px 28px;
  }
}

.dh-new-item-button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  cursor: pointer;

  svg {
    margin-right: 6px;
    width: 19px;
    height: 19px;
  }
}

.dh-list {
  margin-top: 22px;
}

.dh-campaigns-controls {
  display: flex;
  justify-content: space-between;
  color: $elementsColor;
}

.dh-list-item {
  height: 80px;
  width: 100%;
  background-color: $sectionBG;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: $textColor;
  box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.dh-campaign-name {
  font-size: 18px;
  line-height: 22px;
  color: $mainTextColor;
}

.dh-spacer {
  flex-grow: 1;
}

strong {
  font-weight: 500;
}

input {
  background-color: $sectionBG;
  border: 1px solid $borderColor;
  border-radius: 4px;
  padding: 14px 19px 16px 17px;
  line-height: 17px;
  font-weight: 500;
  color: $inputTextColor;

  &:disabled {
    background-color: $disabledBG;
    color: $textColor;
  }

  &::placeholder {
    color: $textColor;
  }
}

button {
  color: $sectionBG;
  background-color: $elementActiveColor;
  height: 44px;
  font-weight: bold;
  min-width: 206px;
  padding: 15px 15px 14px;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid $elementActiveColor;
}