$mainBGColor: #F8FAFB;
$mainTextColor: #252631;
$inputTextColor: #1B1E24;
$textColor: #98A9BC;
$sectionBG: #fff;
$elementsColor: #778CA2;
$elementActiveColor: #9E4CF9;
$borderColor: #E8ECEF;
$successColor: #6DD230;
$failColor: #FE4D97;
$disabledBG: #F8FAFB;
$secondBorderColor: #F2F4F6
