<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://lp.directheroes.com/images/favicon.png" rel="icon" type="image/png">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="app">
            </div>
        {% endblock %}
        <script>
          window.data = {};
          window.dh = {
            apiUrl: '{{ apiUrl }}',
            userName: '{{ userName }}',
          }
        </script>
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
