<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://lp.directheroes.com/images/favicon.png" rel="icon" type="image/png">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="app">
            </div>
        {% endblock %}
        <script>
          window.data = {};
          window.dh = {
            apiUrl: '{{ apiUrl }}',
            userName: '{{ userName }}',
            easywebinarLink: '{{ easywebinarLink }}',
          }
        </script>
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
            <!-- Start of directheroes Zendesk Widget script -->
            <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=39dd763c-01d2-4270-9360-87c5aebd90c3"> </script>
            <!-- End of directheroes Zendesk Widget script -->
        {% endblock %}
    </body>
</html>
